
support/rag_service/data/backups/*
support/rag_service/data/uploads/*
support/rag_service/postgres-data/*
plugins/defect_judgement/data/postgres/*
plugins/defect_judgement/data/backend/*
CortexServer/plugins/defect_judgement/data/*
CortexFlow/data
CortexFlow/data/*
ai_brain/app
ai_brain/sandbox
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

CortexRAG/data
CortexRAG/postgres-data
CortexRAG/postgres-data/*
CortexRAG/redis-data
CortexRAG/qdrant-data
CortexSOP/plugin_daemon/cwd/langgenius/*
CortexSOP/plugin_daemon/cwd/junjiem/**
CortexSOP/plugin_daemon/cwd/langgenius/**
__pycache__/
*.pyc
*.pyo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.log

images_*.tar.gz